<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Load page specific CSS -->
    <% if(typeof css !== 'undefined' && css) { %>
      <link rel="stylesheet" href="<%= css %>" />
    <% } %>
  </head>
  <body>
    <% if(user !== null) { %>
    <header>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list-item"><a href="/folders">Folders</a></li>
        </ul>
      </nav>

      <form action="/signout" method="post">
        <button>Sign out</button>
      </form>
    </header>
    <% } %>

    <main class="container">
