<% if(folder) { %>
<!-- Form for sub folders -->
<form action="/folders/<%=folder.id%>" method="post">
  <label for="name">Folder Name: </label>
  <input type="text" name="name" id="name" />
  <button>Add</button>
</form>
<% } else {%>
<!-- Form for root folder -->
<form action="/folders/" method="post">
  <label for="name">Folder Name: </label>
  <input type="text" name="name" id="name" />
  <button>Add</button>
</form>
<% } %>
