<dialog id="editFolderDialog">
  <form method="post">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" required />
    <button class="save-button" type="submit">Save</button>
    <button class="close-button" type="button">Close</button>
  </form>
</dialog>
