<%- include('./partials/header.ejs') %> <% if(user !== null) { %>
<form action="/signout" method="post">
  <button>Sign out</button>
</form>
<% } %>

<h1>Upload files</h1>

<%- include('./partials/footer.ejs') %>
