<h1>Sign up form</h1>
<form action="/signup" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" />

  <button>Submit</button>
</form>
