<%- include('./partials/header.ejs') %>

<div class="sign-up-container">
  <form class="sign-up-form" action="/signup" method="post">
    <h1 class="title">Sign up</h1>

    <div class="form-field">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
    </div>

    <div class="form-field">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
    </div>

    <a href="/signin">Has an account?</a>

    <button>Submit</button>
  </form>
</div>

<%- include('./partials/footer.ejs') %>
