/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* General Styling */
body {
  color: #ffffff;
  background-color: #121212;
  font-family: Arial, sans-serif;
  min-height: 100vh;

  display: flex;
}

a {
  color: #bb86fc;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

/* Sign in form */
.sign-in-form {
  margin: 0 auto;
  max-width: 500px;
  border: 1px solid #555;
  padding: 5rem 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
}

.sign-in-form .title {
  text-align: center;
}

.sign-in-form .form-field {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sign-in-form .form-field label {
  width: 70px;
}

.sign-in-form .form-field input {
  flex: 1;
}
