/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* General Styling */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: #fff;
  background-color: #222;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
}

a {
  color: #bb86fc;
}

button,
a.button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

a.button {
  text-decoration: none;
}

button:hover {
  background-color: #444;
}

/* Main container */
.container {
  flex: 1;
}

/* Sign in form */
.sign-in-container {
  height: 100%;
  align-content: center;
}

.sign-in-form {
  margin: 0 auto;
  max-width: 500px;
  border: 1px solid #555;
  padding: 5rem 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-in-form .title {
  text-align: center;
}

.sign-in-form .form-field {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sign-in-form .form-field label {
  width: 70px;
}

.sign-in-form .form-field input {
  flex: 1;
}

/* Sign-up form */
.sign-up-container {
  height: 100%;
  align-content: center;
}

.sign-up-form {
  margin: 0 auto;
  max-width: 500px;
  border: 1px solid #555;
  padding: 5rem 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-up-form .title {
  text-align: center;
}

.sign-up-form .form-field {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sign-up-form .form-field label {
  width: 70px;
}

.sign-up-form .form-field input {
  flex: 1;
}

/* header */
header {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
  padding-right: 4rem;
  gap: 2rem;
}

header .nav {
  flex: 1;
}

header .nav-list {
  list-style-type: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
}

/* folders */
.folders-container {
  border: 1px solid #444;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.folders-container .folders-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;

  justify-content: space-between;
}

/* folders list */
.folders-list {
  list-style: none;
  padding: 0;
}

.folders-list-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 10px;
}

.folders-list-item .left {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.folders-list-item .folder-icon {
  width: 20px;
}

.folders-list-item button {
  width: 70px;
  text-align: center;
}

/* Add folder form */
.add-folder-form,
.add-folder-form .form-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-folder-form button {
  padding: 5px 10px;
}

/* Upload file form */
.upload-file-form {
  display: flex;
  align-items: center;
}

.upload-file-form .form-field {
}

.upload-file-form button {
  padding: 5px 10px;
}

/* Files list */
.files-list {
  list-style: none;
  padding: 0;
}

.files-list-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.files-list-item .left-side {
  flex: 1;

  display: flex;
  gap: 1rem;
}

.files-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.files-list img {
  width: 18px;
  fill: #fff;
}

.files-list-item a.button,
.files-list-item button {
  width: 70px;
  text-align: center;
}
