<% if(files.length > 0) { %>
<ul class="files-list">
  <% files.forEach(file => {%>

  <li class="files-list-item">
    <div class="left-side">
      <img src="/icons/file-solid.svg" alt="File" />
      <span><%= file.name%></span>
    </div>

    <a href="/files/<%= file.id %>" class="button">View</a>
    <form action="/files/<%= file.id %>/delete" method="post">
      <button>Delete</button>
    </form>
  </li>
  <%}) %>
</ul>
<% } %>
