<% if(folder === null) { %>
<!-- Form for root folder -->
<form
  class="upload-file-form"
  action="/files"
  method="post"
  enctype="multipart/form-data"
>
  <div class="form-field">
    <input type="file" name="file" />
  </div>
  <button>Upload</button>
</form>
<% } else { %>
<!-- Form for subfolders -->
<form
  class="upload-file-form"
  action="/files/<%= folder.id %>"
  method="post"
  enctype="multipart/form-data"
>
  <div class="form-field">
    <input type="file" name="file" />
  </div>
  <button>Upload</button>
</form>
<% } %>
